.dishEdit {
  margin-top: 7%;
  color: red;
  background-color: #e0e0e0 !important;
  text-align: center;
  width: 400px;
}

.chooseOption {
  text-align: center;
}

label {
  font-size: 30px;
}

input {
  text-align: center;
}

#result {
  color: darkgreen;
  font-size: 25px;
}

#hideMainDish,
#hidePasta,
#hideFish,
#hideSoup {
  display: none;
}

#showMainDish,
#showPasta,
#showFish,
#showSoup {
}
