.navbar {
  background-color: gray !important;
  color: black;
  text-align: right;
  border: 2px solid black;
  border-radius: 10px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover,
a:active,
a:focus {
  color: red;
  text-decoration: underline;
}

.navbar {
  width: 100%;
}

@media screen and (min-width: 1100px) {
  #nav-scroll {
    margin-left: 40%;
  }
  #registration {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1099px) {
  #registration {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  #collapse-firstitem {
    margin-top: 20px;
  }

  .collapse-items {
    margin-top: 15px;
  }

  #registration {
    margin-left: 0px;
    color: red;
  }
}
